style {
    .parent {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
}

<html>
    <head>
        <title>Color Picker</title>
    </head>
    <body.parent>
        <h1>Welcome to Color Picker!</h1>
        <color-picker/>
    </body>
</html>