*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-image: linear-gradient(120deg, Khaki, LightSalmon);
  color: White;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 3rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: White;
}

form button {
  color: LightSalmon;
  background-color: White;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: White;
  background-color: IndianRed;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: White;
  color: Black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.trash-btn,
.completed-btn {
  color: White;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.trash-btn {
  background-color: Coral;
}

.completed-btn {
  background-color: DarkSeaGreen;
}

.trash-btn:hover {
  background-color: Sienna;
}

.completed-btn:hover {
  background-color: Olive;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  appearance: none;
  outline: none;
  border: none;

  color: Coral;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background-color: Coral;
  top: -0.2rem;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: White;
  color: Coral;
}